/* ===== ACARA DAN INFORMASI ====== */
.info-acara {
    margin-bottom: 5%;
    margin-top: 20px;
    white-space: nowrap;
}
.info-acara .judul {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 8%;
}

.Title h1 {
    color: var(--main);
    font-family: Noto Sans KR;
    font-size: 114px;
    text-transform: uppercase;
    font-style: normal;
    line-height: normal;
    letter-spacing: 5px;
    font-weight: 700;
    margin-bottom: 10px;
}

/* ----- LIST EVENT ----- */
.list-event {
    width: 100%;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-auto-rows: 600px;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.content-event {
    background-color: var(--white2);
    justify-content: center;
    align-items: stretch;
    box-shadow: 5px 5px 15px 5px rgba(34, 34, 34, 0.1);

    &:hover {
        /* scale: 1.03; */
        .detail-event .deskripsi {
            color: var(--main);
            text-align: justify;
            padding-top: 10px;
            margin: 0;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
            animation: marquee 10s linear infinite;
        }
        .info-event a {
            color: var(--white1);
            background-color: var(--hover);
        }
        .info-event a:hover {
            color: var(--white1);
            background-color: var(--red);
            border-color: var(--red);
            transition: 300ms all;
        }
    }
}

.preview-container {
    width: 100%;
    height: 60%;
    padding: 0; /*jangan dihapus*/
    margin: 0; /*jangan dihapus*/
    object-fit: cover;
}
.info-event {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    padding: 20px;
}
.info-event .judul {
    color: var(--main);
    font-family: "Noto Sans KR";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%;
    text-align: left;
    margin: 0;
    /* white-space: nowrap;
    overflow: hidden; */
}
.info-event .detail-event {
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    text-align: justify;
    font-style: normal;
}
.detail-event .deskripsi {
    color: var(--main, #222);
    text-align: justify;
    padding-top: 20px;
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    /* padding-left: 10px; */
    animation: none;
}
.detail-event .waktu,
.detail-event .tempat {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 125%;
    padding: 2px 0;
}
.detail-event .waktu {
    margin-top: -20px;
}
.detail-event .bi {
    margin-right: 10px;
}
.info-event a {
    color: var(--main);
    border: 2px solid var(--hover);
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

/* @keyframes slideText {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(-100%,0);
    }
} */
@media screen and (max-width:768px) {
    .Title h1{
        font-size: 50px;
    }
    .list-event{
        justify-content: center;
        display: grid;
        grid-template-columns: auto;

    }
}