
.headerContainer{
    margin: 0 5%;
}

.header{
    /* background-color: gray; */
    margin-bottom: 10%;
    height: max-content;
}

.organisasi{
    color: var(--main);
    text-align: center;
    /* leading-trim: both;
    text-edge: cap; */
    font-family: 'Noto Sans KR';
    font-size: 157px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 7px;
    margin: 0;
}

.header .running-text marquee{
    color: var(--main);
    /* leading-trim: both;
    text-edge: cap; */
    font-family: 'Josefin Sans';
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.header .main-foto{
    margin-top: 20px;
}
.header .main-foto img{
    width: 100%;
}

.header .textMiring{
    position: absolute;
    width: 100%;
    transform: translateY(-35px);
    /* top: 825px; */
    left: 0;
}
.textMiring marquee{
    height: 60px;
    background-color: var(--red);
    box-shadow: 0 -2px 2px rgb(37, 37, 37), 0 2px 2px rgb(37, 37, 37);
    color: var(--white1);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    line-height: 60px;
}

.textMiring .miring-kiri{
    transform: translateY(-34px)
                rotate(-1.8deg);
}
.textMiring .miring-kanan{
    position: relative;
    transform: rotate(1.8deg);
}