.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem 0 1rem;
}

/* ----- tentang Section ----- */
.containerTentang {
    display: flex;
    justify-content: space-between;
    margin: 10% 0 0 0;
}

.tentang{
    display: flex;
    margin-top: -2rem;
    gap: 1.5rem;
}
.posLogoQM{
    z-index: -1;
    display: flex;
    font-size: 56pt;
    margin-top: -1.5rem;
}

.subLogoQM {
    width: 89.5px;
    height: 89.5px;
    transform: rotate(45deg);
    transform-origin: 0 0;
    background: #f2af4a;
    z-index: -1;
}
.subLogoQM h1{
    transform: rotate(-45deg);
    font-size: 6rem;
    margin-left: 2.2rem;
    font-weight: 600;
}

.judulTentang {
    color: #222222;
    font-size: 80px;
    font-family: Noto Sans KR;
    font-weight: 700;
    text-decoration: underline;
}

.containerTentang .desc {
    margin-left: 5%;
    width: 50%;
}

.deskripsiTentang {
    text-align: justify;
    color: #222222;
    font-size: 24px;
    font-family: Josefin Sans;
    font-weight: 400;
    line-height: 33.6px;
    word-wrap: break-word;
}



/* ----- Tujuan Section ----- */
.judul{
    display: flex;
    margin-top: 5rem;
    margin-bottom: -1rem;
    gap: 1rem;
}
.judul p{
    color: #222222;
    font-size: 80px;
    font-family: Noto Sans KR;
    font-weight: 700;
    text-decoration: underline;
}
.judul svg{
    margin-left: -3.2rem;
    margin-top: -1.1rem;
    height: 128px;
    width: 128px;
}

.tujuan{
    display: flex;
    gap: 1rem;
}

.kartu {
    display: flex;
    align-content: space-between;
    gap: 31px;
    margin-top: 5%;
    z-index: -1;
}
.kartu img {
    flex-shrink: 0;
    margin: 0;
    border-radius: 10px;
}
.kartu p {
    margin-top: 10px;
    text-align: justify;
    font-size: 18px;
}

.cardlist{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cardlist .judul {
    margin-top: 32px;
    color: #222;
    font-family: Noto Sans KR;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%; /* 37.12px */
}

/* ===== Divisi section ===== */
.divisi {
    display: flex;
    flex-direction: column;
    margin: 8% 0% 5% -30%;
}
.juduldivisi {
    color: #222;
    font-family: Noto Sans KR;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: underline;
}
.juduldivisi svg {
    width: 71.871px;
    height: 71.871px;
    flex-shrink: 0;
    position: relative;
    top: -23px;
    left: -47px;
    z-index: -1;
}

.divisisection ul {
    position: relative;
    padding: 0;
}
.divisisection ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.divisisection ul li .divis{
    display: flex;
    justify-content: flex-start;
    width: 70%;
    text-decoration: none;
    list-style: none;
}

.divisisection .judul {
    width: 100%;
    padding: 0 7%;
    color: #222;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 116%;
    margin-top: 1.5rem;

}

.listdivisi hr {
    color: #222;
    width: 70%;
    height: 20px;
    flex-shrink: 0;
    margin: 10px 0;
}
.divisisection ul li button {
    opacity: 30%;
    background-color: white;
    outline: white;
}
.divisisection ul li button:hover {
    opacity: 100%;
    background-color: white;
    outline: white;
    border: transparent;
}
.divisisection ul li button:focus {
    opacity: 100%;
    background-color: white;
    outline: white;
}

.listdivisi #ph-card,
#jurnal-card,
#sinema-card,
#foto-card,
#dna-card {
    position: absolute;
    left: 80%;
    top: 0%;
}
.divisisection .listdivisi .hp svg{
    display: none;
}
.kartu-judul {
    color: #222;
    text-align: left;
    font-family: "Noto Sans KR";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%; /* 37.12px */
    margin-top: 0%;
    margin-bottom: 5%;
}
.kartu-text {
    color: #383838;
    text-align: justify;
    font-family: "Josefin Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 17.5px */
}
.listdivisi .kartu {
    width: 30rem;
    display: flex;
    flex-direction: column;
}


/* RESPONSIVE BREAKPOINT */

@media screen and (max-width:1024px) {
    .containerTentang{
        flex-direction: column;
        gap:5rem;
    }
    .desc{
        margin-left: -5rem;
    }
    .tentang{
        align-items: center;
        justify-content: center;
    }
    .deskripsiTentang{
        text-align: center;
    }
    .posLogoQM{
        margin-top: -5rem;
    }

    .kartu{
        flex-direction: column;
    }
}

@media screen and (max-width:768px) {
    /* tentang */
    .containerTentang{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .d-block{
        width: 100%;
    }
    .divisi hr{
        width: 50%;
    }

    .posLogoQM{
        font-size: 36pt;
    }
    .subLogoQM{
        width: 47.972px;
        height: 47.972px;
        flex-shrink: 0;
    }
    .subLogoQM h1{
        font-size: 3rem;

    }
    .judulTentang{
        font-size: 32px;
        margin-left: 0.7rem;
    }
    .deskripsiTentang{
        text-align: center;
        font-size:14px;
        line-height: 140%;
        margin-left: 0.4rem;
    }
    .containerTentang .desc{
        width: 100%;
        margin:0;
    }
    .subLogoQM h1{
        margin-left: 0.75rem;
    }
    .posLogoQM{
        margin-top: -3rem;
        margin-left: -0.5rem;
    }


    /* tujuan section */
    .judul{
        margin-top:2rem;
    }
    .judul p{
        font-size: 38px;
    }
    .judul svg{
        margin-left: -2rem;
        margin-top: -0.4rem;
        width: 47.972px;
        height: 47.972px;
        flex-shrink: 0;

    }
    .kartu img{
        width: 100%;
    }
    .cardlist .judul{
        font-size: 28px;
        line-height: 100%;
        margin-top: 0.2rme;
        margin-bottom: 0.2rem;
    }

    .cardlist p{
        font-size: 16px;
    }



    /* Divisi section */
    .divisi{
        justify-content: center;
        margin: 0;
    }

    .juduldivisi {
        font-size: 30px;

    }
    .juduldivisi svg{
        width: 32px;
        height: 32px;
        top: -3.5rem;
        left: 18rem;
    }
    .divisisection .judul{
        position: none;
        font-size: 16px;
        top: 0%;
        left: 0%;
    }
    .listdivisi hr{
        width: 100%;
    }
    .divisisection .listdivisi .window svg{
        display: none;
    }
    .divisisection .listdivisi .hp svg{
        margin-bottom: -1rem;
        display: block;
    }
    .divisisection .listdivisi ul li .divis {
        width: 100%;
    }
    .listdivisi #ph-card,
    #jurnal-card,
    #foto-card,
    #sinema-card,
    #dna-card{
        position: relative;
        left: 0%;
        top: 0%;
        margin-top: 2rem;
    }

    .kartu-judul {
        font-size: 26px;
    }
    .kartu-text {
        font-size: 16px;/* 17.5px */
    }
    .listdivisi .kartu {
        width: 20rem;

    }

}

@media screen and (max-width:640px) {

}

@media screen and (max-width:420px) {

}
