/* ----- tentang Section ----- */
.containerTentang {
    width: 100%;
    display: flex;
    height: 449px;
    position: relative;
}
.gambarTentangKami {
    margin-top: 50px;
    margin-left: 70px;
}

.posLogoQM {
    width: 126.58px;
    height: 126.58px;
    left: 1134.75px;
    top: 66.9px;
    position: absolute;
}

.subLogoQM {
    width: 89.5px;
    height: 89.5px;
    left: 50px;
    top: -50px;
    position: absolute;
    transform: rotate(45deg);
    transform-origin: 0 0;
    background: #f2af4a;
}

.subLogoTentang {
    left: 32px;
    top: -35px;
    position: absolute;
    font-size: 56pt;
}
.judulTentang {
    left: 788px;
    margin-top: 50px;
    position: absolute;
    color: #222222;
    font-size: 80px;
    font-family: Noto Sans KR;
    font-weight: 700;
    text-decoration: underline;
    word-wrap: break-word;
}

.deskripsiTentang {
    width: 624px;
    left: 788px;
    top: 210px;
    position: absolute;
    text-align: justify;
    color: #222222;
    font-size: 24px;
    font-family: Josefin Sans;
    font-weight: 400;
    line-height: 33.6px;
    word-wrap: break-word;
}

/* ----- tentang Section ----- */
.tujuan{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.tujuan .judultujuan{
    display: flex;
    align-items: center;
    margin-left: 120px;
    color: #222222;
    font-size: 80px;
    font-family: Noto Sans KR;
    font-weight: 700;
    text-decoration: underline;
}
.tujuan .judultujuan svg{
    position: relative;
    left: -33px;
    top: -15px;
    z-index: -1;
}

.kartu{
    display: flex;
    padding: -40px;
    align-content: space-between;
    margin-bottom: 32;
}
.kartu img{
    width: 436.345px;
    height: 290.897px;
    flex-shrink: 0;

}
.cardlist{
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: space-between;
}
.kartu p{
    margin-top: 10px;
}
.kartu .cardlist .judul{
    margin-top: 32px;
    color: var(--main, #222);
    font-family: Noto Sans KR;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%; /* 37.12px */
    }

/* Divisi section */

.divisi{
    display: flex;
    flex-direction: column;
}
.divisi .juduldivisi{
    color: var(--main, #222);
    font-family: Noto Sans KR;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.divisi .juduldivisi svg{
    width: 71.871px;
    height: 71.871px;
    flex-shrink: 0;
    position: relative;
    top: -23px;
    left: -47px;
    z-index: -1;
}
.divisi hr{
    width: 1304px;
    height: 2px;
    flex-shrink: 0;
}

