/* ----- tentang Section ----- */
.containerTentang {
    display: flex;
    height: auto;
    position: relative;
    margin-top: 25%;
    align-items: center;
}

.posLogoQM {
    width: 127px;
    height: 127px;
    right: 3%;
    top: 20%;
    position: absolute;
}

.subLogoQM {
    width: 89.5px;
    height: 89.5px;
    /* left: -20px; */
    top: -50px;
    position: absolute;
    transform: rotate(45deg);
    transform-origin: 0 0;
    background: #f2af4a;
    z-index: -1;
}

.subLogoTentang {
    left: -20px;
    top: -35px;
    position: relative;
    font-size: 56pt;
    font-weight: 600;
}
.judulTentang {
    color: #222222;
    font-size: 80px;
    font-family: Noto Sans KR;
    font-weight: 700;
    text-decoration: underline;
}

.containerTentang .desc{
    margin-left: 5%;
}

.deskripsiTentang {
    text-align: justify;
    color: #222222;
    font-size: 24px;
    font-family: Josefin Sans;
    font-weight: 400;
    line-height: 33.6px;
    word-wrap: break-word;
}

/* ----- tentang Section ----- */
.tujuan{
    /* display: flex; */
    margin-top: 25%;
    height: auto;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
/* .tujuan .kartu svg{
    width: 143.686px;
    height: 143.686px;
    flex-shrink: 0;
} */
.tujuan .judultujuan{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 120px; */
    color: #222222;
    font-size: 80px;
    font-family: Noto Sans KR;
    font-weight: 700;
    text-decoration: underline;
    position: relative;
    /* left: 110px; */
}
.tujuan .judultujuan svg{
    position: absolute;
    right: 29%;
    top: -15%;
    z-index: -1;
}
.tujuan .judultujuan svg:nth-last-child(1){
    position: absolute;
    right: 0;
    top: 90%;
    z-index: 1;
}

.kartu{
    display: flex;
    align-content: space-between;
    gap: 30px;
    /* z-ndex: -1; */
    margin-top: 5%;
}
.kartu img{
    width: 100%;
    flex-shrink: 0;
    z-index: -1;
    margin: 0;
}
.cardlist{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    align-content: space-between;
}
.kartu p{
    margin-top: 10px;
    text-align: justify;
}
.cardlist .judul{
    margin-top: 32px;
    color: #222;
    font-family: Noto Sans KR;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 116%; /* 37.12px */
}

/* ===== Divisi section ===== */

.divisi{
    display: flex;
    flex-direction: column;
    margin-top: 15%;
}
.juduldivisi{
    color: #222;
    font-family: Noto Sans KR;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.juduldivisi svg{
    width: 71.871px;
    height: 71.871px;
    flex-shrink: 0;
    position: relative;
    top: -23px;
    left: -47px;
    z-index: -1;
}
.divisi hr {
    color: #222;
    width: 1304px;
    font-weight: 1000;
    flex-shrink: 0;
}

.divisisection ul{
    position: relative;
    padding: 0;
}
.divisisection ul li{
    display: flex;
    justify-content:flex-start;
    width: 54%;
    text-decoration: none;
    list-style: none;
    margin-bottom: 20px;
}

.divisisection .judul{
    position: relative;
    width: 80%;
    top: 25px;
    padding: 0 7%;
    color: #222;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 116%; 
    /* 37.12px */
}

.listdivisi hr {
    color: #222;
    width: 55%;
    height: 20px;
    flex-shrink: 0;
    margin: 10px 0;
}
.divisi button{
    text-decoration: none;
    outline: none;
}

