@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.karya {
    margin-bottom: 5%;
    margin-top: 20px;
}
.judul {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 8%;
}

.Title p{
    color: var(--main, #222);
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    margin-top: 50px;

}
.Title h1{
    color: var(--main);
    font-family: Noto Sans KR;
    font-size: 120px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 10px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    /* overflow: auto; */
    /* margin-top: -40px; */

}

.list-karya{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 40px;
    row-gap: 40px;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin-top: 5%;
}

.content-karya{
    background-color: var(--white2);
    justify-content: center;
    align-items:stretch;
    box-shadow: 5px 5px 15px 5px rgba(34, 34, 34, 0.10);
}
.content-karya .preview-container{
    width: 100%;
    height: 75%;
    padding: 0; /*jangan dihapus*/
    margin: 0; /*jangan dihapus*/
    object-fit:cover;
}
.content-karya .info-karya{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 25%;
    padding: 20px 40px;
}
.info-karya .deskripsi{
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
}
.deskripsi .judul-karya{
    color: var(--main);
    margin-bottom: 8px;
    font-family: 'Noto Sans KR';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* animation: slideText 5s linear infinite;
    animation-delay: 10s; */
}
.deskripsi .bidang-karya{
    color: var(--hover);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    /* margin: 0; */
}
.info-karya a{
    width: 30%;
    text-align: end;
    font-size: 55px;
    color: var(--main);
    &:hover{
        color: var(--hover);
    }
}
/* .bi{
    display: inline-block;
    width: 400px;
    height: 800px;
} */

/* responsive */
@media(max-width: 1024px){
    .Title h1{
        font-size: 78px;
    }
    .marquee span{
        font-size: 20px;
    }
    .list-karya{
        grid-template-columns: repeat(2, 1fr);
    }
    .content-karya{
        width: 367.59px;
        height: 275.692px;
        flex-shrink: 0;
    }
    .content-karya .judul-karya{
        font-size: 17px;
    }
    .content-karya .bidang-karya{
        font-size: 10px;
    }
    .info-karya a{
        width: 30%;
        text-align: end;
        font-size: 35px;
        color: var(--main);
        position: relative;
        left: 20px;
    }
    .deskripsi{
        margin-top: 10px;
        margin-left: -22px;
    }
}
@media(max-width: 768px){
    .Title h1{
        font-size: 53px;
    }
    .marquee span{
        font-size: 18px;
    }
    .list-karya{
        grid-template-columns: repeat(2, 1fr);
    }
    .content-karya{
        width: 327.59px;
        height: 235.692px;
        flex-shrink: 0;
    }
    .content-karya .judul-karya{
        font-size: 17px;
    }
    .content-karya .bidang-karya{
        font-size: 10px;
    }
    .info-karya a{
        width: 30%;
        text-align: end;
        font-size: 35px;
        color: var(--main);
    }
    .deskripsi{
        margin-top: 10px;
        margin-left: -22px;
    }
}
@media(max-width: 640px){
    .Title h1{
        font-size: 40px;
    }
    .marquee span{
        font-size: 15px;
    }
    .list-karya{
        grid-template-columns: repeat(1, 1fr);


    }
    .content-karya{
        width: 267.59px;
        height: 175.692px;
        row-gap: 10px;
        flex-shrink: 0;
        margin-left: 120px;
    }
    .content-karya .judul-karya{
        margin-bottom: 3px;
        font-size: 14px;
    }
    .content-karya .bidang-karya{
        font-size: 9px;
    }
    .info-karya a{
        width: 30%;
        position: relative;
        left: 23px;
        text-align: end;
        font-size: 25px;
        color: var(--main);
    }
    .deskripsi{
        margin-top: 10px;
        margin-left: -27px;
    }
}
@media(max-width: 420px){
    h1{
        font-size: 5px;
        justify-content: center;
        align-items: center;
    }
    .marquee span{
        font-size: 10px;
    }
    .content-karya{
        width: 367.59px;
        height: 275.692px;
        margin: 0;
        flex-shrink: 0;
    }
    .content-karya .judul-karya{
        font-size: 16px;
    }
    .content-karya .bidang-karya{
        font-size: 10px;
    }
    .info-karya a{
        width: 30%;
        text-align: end;
        font-size: 35px;
        color: var(--main);
    }
    .deskripsi{
        margin-top: 5px;
    }
}