* {
    margin: 0;
    padding: 0;
  }
  body {
    height: 4000px;
  }
  /* NAVBAR */
  nav {
    display: flex;
    background-color: #222;
    justify-content: space-around;
    /* padding: 20px 0; */
    /* Bisa padding/height with align-items */
    height: 64px;
    align-items: center;
    color: #F8F8F8;
    font-family: 'Josefin Sans', sans-serif;
  
  }
  nav .logo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;
  }
  nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content:space-evenly;
  }
  nav ul li a {
    color: #F8F8F8;
    text-decoration: none;
    font-size: 14px;
  }
  nav ul li a:hover {
    color:  rgb(225, 225, 225);
  }
  button {
    font-size: 14px;
    background-color: #F8F8F8;
    font-family: 'Josefin Sans', sans-serif;
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  button:hover {
    cursor: pointer;
    background-color:  rgb(225, 225, 225);
  }
  .header {
    margin-bottom: -50px;
  }
  .header h1 {
    color: var(--main, #222);
    text-align: center;
    /* leading-trim: both;
    text-edge: cap; */
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 186px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 7.44px;
  }
  .running-text {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .running-text marquee {
    color: #000;
    /* leading-trim: both;
    text-edge: cap; */
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
  }
  .main-foto img{
    margin-top: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* background-size: cover;
    background-repeat: no-repeat; */
  }
  
  /* Miring - running text */
  .miring {
    width: 100%;;
    position: absolute;
    top: 950px;
    left: auto;
  }
  .miring-1 {
    width: 100%;
    height: 80px;
    transform: rotate(4deg);
    flex-shrink: 0;
    background-color: #EA4C4C;
    box-shadow: 0 -2px 2px rgb(37, 37, 37), 0 2px 2px rgb(37, 37, 37);
  }
  .miring-1 marquee {
    color: var(--white-1, #F8F8F8);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 95px;
  }
  .miring-2 {
    width: 100%;
    position: relative;
    top: -90px;
    height: 80px;
    transform: rotate(-4deg);
    flex-shrink: 0;
    background-color: #EA4C4C;
    box-shadow: 0 -2px 2px rgb(37, 37, 37), 0 2px 2px rgb(37, 37, 37);
  }
  .miring-2 marquee {
    color: var(--white-1, #F8F8F8);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 95px;
  }
  
  /* card-member */
  .card-member {
    height: 72px;
    background: var(--white-2, #E9E9E9);
    line-height:72px;
    position:relative;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    top:80px;
    width:80%;
    margin:auto;
    margin-top: 200px;
}

.card-member ul {
    list-style:none;
}
.card-member ul li a {
    float:left;
    width:16.66%;
    color:#222222;
    text-decoration:none;
    display:block;
    text-align:center;
}
.card-member ul li a:hover {
    background: var(--main, #222);
    color: #F8F8F8;
    display:block;
}


  