* {
    margin: 0px;
    padding: 0px;
    font-family: "Josefin Sans";
}
.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f8f8f8;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #e9e9e9;
}

/* Navbar section */
nav .logo {
    color: #f8f8f8;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    font-size: 24px;
    margin-top: 5px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 120px;
}
nav .logo h3 {
    justify-content: center;
    align-items: center;
}
nav {
    flex-shrink: 0;
    padding: 10px;
    display: flex;
    background-color: #222;
    justify-content: space-around;
}
nav a {
    text-decoration: none;
    color: #f8f8f8;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    width: 25%;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
nav ul li a {
    color: #e9e9e9;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
nav .btn-light {
    height: 30px;
    width: 104px;
    display: inline-flex;
    margin-left: 190px;
    padding: 8px 16px;
    margin-top:15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #222;
    font-size: 14px;
    font-weight: 600;
}

/*tentang Section*/
.containerTentang {
    width: 100%;
    display: flex;
    height: 449px;
    position: relative;
    background: #f8f8f8;
}
.gambarTentangKami {
    margin-top: 50px;
    margin-left: 70px;
}

.posLogoQM {
    width: 126.58px;
    height: 126.58px;
    left: 1134.75px;
    top: 66.9px;
    position: absolute;
}

.subLogoQM {
    width: 89.5px;
    height: 89.5px;
    left: 50px;
    top: -50px;
    position: absolute;
    transform: rotate(45deg);
    transform-origin: 0 0;
    background: #f2af4a;
}

.subLogoTentang {
    left: 32px;
    top: -35px;
    position: absolute;
    font-size: 56pt;
}
.judulTentang {
    left: 788px;
    margin-top: 50px;
    position: absolute;
    color: #222222;
    font-size: 80px;
    font-family: Noto Sans KR;
    font-weight: 700;
    text-decoration: underline;
    word-wrap: break-word;
}

.deskripsiTentang {
    width: 624px;
    left: 788px;
    top: 210px;
    position: absolute;
    text-align: justify;
    color: #222222;
    font-size: 24px;
    font-family: Josefin Sans;
    font-weight: 400;
    line-height: 33.6px;
    word-wrap: break-word;
}

/* footer Section */
footer {
    padding: 30px;
    height: 60px;
    display: flex;
    flex-shrink: 0;
    background-color: #222;
    justify-content: space-around;
}
footer .copyright {
    color: #f8f8f8;
    font-size: 16px;
    margin-right: 20px;
    font-family: "Noto Sans KR";
    margin-top: -8px;
}
footer ul li svg {
    color: #f8f8f8;
    margin: 0 7px;
}
footer ul {
    display: flex;
    list-style: none;
    margin: 0;
    margin-left: 350px;
    width: 30%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
footer ul li a {
    color: #f8f8f8;
    text-decoration: none;
}

/* responsive breakpoint */
@media screen and (max-width: 1080px) {
    nav ul {
        width: 35%;
    }
    nav .logo {
        margin-right: 60px;
    }
    nav .btn-light {
        margin-left: 100px;
    }

    /* footer */
    footer {
        height: 60px;
        margin-bottom: 10px;
    }
    footer .copyright {
        margin-top: -10px;
    }
    footer ul {
        margin-left: 160px;
        width: 43%;
    }
}
@media screen and (max-width: 768px) {
    nav ul {
        width: 40%;
    }
    nav .logo {
        margin-right: 20px;
    }
    nav .btn-light {
        margin-left: 30px;
    }
    /* footer */
    footer {
        height: 60px;
        margin-bottom: 10px;
    }
    footer .copyright {
        margin-top: -15px;
    }
    footer ul {
        margin-left: 10px;
        width: 70%;
    }
}

@media screen and (max-width: 576px) {
    nav ul {
        position: fixed;
        right: -100%;
        top: 60px;
        gap: 0;
        flex-direction: column;
        background-color: #222;
        width: 40%;
        border-radius: 10px 10px;
        transition: 0.4s;
    }
    .navitem {
        margin: 3px 0;
        margin-right: 20px;
    }
    .navmenu.active {
        right: 0;
    }
    nav .logo {
        margin-right: 100px;
    }

    /* three line Menu */
    .menu-toggle {
        display: block;
        margin-top: 9px;
    }
    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }
    .menu-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .menu-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* footer */
    footer {
        height: 60px;
        margin-bottom: 10px;
    }
    footer .copyright {
        margin-top: -15px;
    }
    footer ul {
        margin-left: -20px;
        width: 120%;
    }
}
