*{
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans';
    box-sizing: border-box;
}

:root{
    --main:#222222;
    --hover:#383838;
    --white1:#E9E9E9;
    --white2:#F8F8F8;
    --red:#EA4C4C;
}

.content{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    margin-right: 5%;
}

.content main{
    padding: 0 5%;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:var(--white1);
}

/* Navbar section */
nav{
    flex-shrink: 0;
    padding: 15px 0px;
    display: flex;
    background-color: var(--main);
    justify-content: space-between;
    align-items: center;
    height: 64px;
}
nav .logo{
    color: var(--white2);
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 5%;
}

nav a{
    text-decoration: none;
    color: var(--white2);
}
nav a:hover{
    color: var(--white1);
}
nav ul{
    display: flex;
    list-style: none;
    width: 25%;
    align-items: center;
    justify-content: space-between;
}
.navmenu{
    padding: 0;
    margin: 0;
}
nav ul li a{
    color: var(--white1);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
nav .btn-light {
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--main);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 5%; 
    border-radius: 0;
}
nav .btn-light:hover{
    background-color: var(--red);
    color: var(--white1);
    scale: 1.1;
    border-color: transparent;
}

/* footer Section */

.textbawah{
    margin: 10% 0;
    justify-content: center;
    text-align: center;
}
.textbawah p{
    padding: 0 5%;
}
.textbawah .thanks{
    color: var(--main);
   margin: 0;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

footer{
    height: 64px;
    display: flex;
    flex-shrink: 0;
    background-color: var(--main);
    color: var(--white2);
    justify-content: space-between;
    align-items: center;
}
footer .copyright{
    text-align: justify;
    margin: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-left: 5%;
}
footer ul {
    display:flex;
    list-style: none;
    margin: 0 5% 0 0;
    width: 35%;
    align-items: center;
    justify-content: space-between;    
}
footer ul li a:hover{
    color: var(--white1);
}

footer ul li i{
    margin: 0px 10px;
}
footer ul li a{
    color: #F8F8F8;
    text-decoration: none;
    font-size: 20px;
}



/* responsive breakpoint */
@media screen and (max-width: 1080px){
    footer{
        margin-bottom: -1px;
    }
}

@media screen and (max-width: 768px) {
    nav ul{
        width: 35%;
    }
    nav ul li a{
        font-size: 13px;
    }

    /* footer */
    footer .copyright,
    footer ul li a{
        font-size: 13px;
    }

    footer ul li i{
        font-size: 20px;
    }

}

@media screen and (max-width: 567px) {
    nav{
        height: 50px;
    }

    nav ul{
        position: fixed;
        right: -100%;
        top: 60px;
        gap: 0;
        flex-direction: column;
        background-color: var(--main);
        width: 35%;
        border-radius: 10px;
        transition: 0.4s;
    }
    .navitem{
        margin: 3px 0;
    }
    .navmenu.active{
        right: 15px;
        top: 60px;
    }
    nav .btn-light{
        margin-left: 190px;
        font-size: 12px;
    }
    
    /* three line Menu */
    .menu-toggle{
        display: block;
    }
    .menu-toggle.active .bar:nth-child(2){
        opacity: 0;
    }
    .menu-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .menu-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    /* footer */
    footer{
        height: 40px;
    }
    footer .copyright,
    footer ul li a{
        font-size: 10px;
    }
    footer ul{
        width: 45%;
        justify-content: space-between;
    }
    footer ul li i{
        font-size: 18px;
    }
}



/* NOT DONE YET */
@media screen and (max-width: 320px) {
    nav{
        height: 50px;
    }

    nav ul{
        position: fixed;
        right: -100%;
        top: 60px;
        gap: 0;
        flex-direction: column;
        background-color: var(--main);
        width: 35%;
        border-radius: 10px;
        transition: 0.4s;
    }
    .navitem{
        margin: 3px 0;
    }
    .navmenu.active{
        right: 15px;
        top: 60px;
    }
    nav .btn-light{
        margin-left: 190px;
        font-size: 12px;
    }
    
    /* three line Menu */
    .menu-toggle{
        display: block;
    }
    .menu-toggle.active .bar:nth-child(2){
        opacity: 0;
    }
    .menu-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .menu-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    /* footer */
    footer{
        height: 40px;
    }
    footer .copyright,
    footer ul li a{
        font-size: 10px;
    }
    footer ul{
        width: 45%;
        justify-content: space-between;
    }
    footer ul li i{
        font-size: 18px;
    }
}
